.freight {
    width: 35%;
    border: 0;
    background: #768fa4;
    height: 31px;
    font-size: 12px;
    color: whitesmoke;
    padding: 0 10px;
    box-sizing: border-box;
    margin-right: 5px;
  }
  .local {
    width: 36%;
    border: 0;
    background: #768fa4;
    height: 31px;
    font-size: 12px;
    color: whitesmoke;
    padding: 0 10px;
    box-sizing: border-box;
    margin-right: 5px;
  }